*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:'Architects Daughter', cursive;;
}

body {
	background-image: url("img/engr.jpg");
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
  
}
/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
    background-color: #1982a8;
 }

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1982a8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Main section*/

/*section#main-section{
	padding: 25px 0;
	text-align: center;
}*/
#main-section{
	background-color:transparent;
	height: 100vh;

}

bout-box{
	display: block;
	height: 55%;
	padding: 10px;

}

.about-box-1{ 
	width: 50%;
	min-height: 100%;
	padding: 20px;

}
.about-box-1 > img{
	/*padding: 3px;*/
	margin-top: 5%;
	width: 25%;
	border-radius: 30%;
}
.box-1-1 > h3{
	padding: 20px 0;
}

.box-1 {
	background-color: red;
	text-align: center;
		margin: 0 auto;
}

section#portfolio-section > h2,
section#skills-section > h2,
section#about-section > h2 {
	padding: 25px 0;
	text-align: center;
}

/*PORTFOLIO SECTION*/
#portfolio-section{
	background-color: orange;
}

div#portfolio-sect-1{
	height: 88vh;
}

.portfolio-sect-2{ 
	width: 32%;
	min-height: 100%;
	padding: 20px;
}
.portfolio-sect-2 > img{
	width: 50%;
}
.portfolio-sect-2 > h3{
	padding: 20px 0;
}

.sect-csp-1 {
	background-color: red;
}
.sect-csp-2 {
	background-color: green;
}
.sect-csp-3 {
	background-color: yellow;
}

.sect-csp-1,
.sect-csp-2,
.sect-csp-3 {
	display: inline-block;
	text-align: center;
}

/*SKILLS SECTION*/

#skills-sect{
	height: 80%;
	background-color: lightblue;
	text-align: center;
}
.skills-sect-1{
	width: 49%;
	display: inline-block;
	height: 100%;
}

.skills-sect-1 > h3 {
	height: 10%;
}

.skills-sect-2{
	background-color: grey;
	height: 90%;
}

/*ABOUT Section*/
#about-sect {
	background-color: lightblue;
	height: 80%;
}

#about-sect > .about-sect-1,
#about-sect > .about-sect-2 {

}

#portfolio-section,
#skills-section,
#about-section {
	height: 100vh;

}

