*{
	padding:0;
	margin:0;
	font-family:'Architects Daughter', cursive;;
}

body {

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;   
}

#main-section{
	
}


/*section#main-section > a{
		color: white;
		text-decoration: none;
		display: block;
}
*/

section#main-section{
	color: black;
	text-decoration: none;
	display: block;
}
	

.about {
	width:60%;
	/*margin:0 auto;*/
	text-align:center;
	position: absolute;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
	bottom: 0;
}

.my-picture {
	height: 150px;
	padding: 3px;
	margin-top: 20%;
	border-radius: 50%;
	border-style: ;
	border-color: white;
	border-width: 5px;
}

h1 {
	font-size:50px;
	font-weight:normal;

}

#dev-description{
	padding-top: 8px;
	padding-bottom: 8px;

}

.bio{
	margin: 15px;
}

.bio1{
	margin: 15px;
}

.bio3{
	margin: 15px;
	font-size: 20px;
	font-weight: bold;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;


}

 /*Style the links inside the navigation bar  */

 /*PLEASE TAKE NOTE OF THIS CODE, STUDY*/
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 70px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
   color: black;
}

a[href="https://github.com/LlapitanChris"]	{
	padding-right: 10px;
}

a[href="mailto:llapitan.chris@gmail.com"]	{
	text-decoration: none;
}




/*#portfolio-section {
	background-color: orange;
	text-align: center;
}

#skills-section {
	background-color: yellow;
	text-align: center;
}

#about-section {
	background-color: green;
	text-align: center;
}

#portfolio-section,
#skills-section,
#about-section {
	height: 100vh;
}

*/